body 
{
    background-color:beige;
}

.list 
{
    list-style-type:none;
}

#Content
{
    background-color:white;
    height:auto;
    width:325px;
}

.items .list button 
{
    color:white;
    background-color:#33cc33;
    width:300px;
    height:90px;
    margin-bottom:20px;
    font-size:25px;
    font-style:normal;
}
