body 
{
    background-color:beige;
}

.list /* this selects the list class */
{
    list-style-type:none;
}

#Content /* index.html "nav bar" */
{
    background-color:white;
    height:auto;
    width:325px;
}

.items .list button /* properties of the buttons list*/
{
    color:white;
    background-color:#33cc33;
    width:300px;
    height:90px;
    margin-bottom:20px;
    font-size:25px;
    font-style:normal;
}
